# .env.local
NEXT_PUBLIC_SUPABASE_URL=...
NEXT_PUBLIC_SUPABASE_ANON_KEY=...
SUPABASE_SERVICE_ROLE_KEY=... # Keep Secret!
GLOWNET_API_BASE_URL=https://opera.glownet.com/organization
GLOWNET_API_KEY=... # Optional for judges